body{
	font-family: Helvetica, sans-serif;
}


#left {
  width: 30%;
  height: 120px;

  font-size: 27px;
  
  position: absolute;
    bottom: 5px;
    left: 10%;
  display: inline-block;
}

#or{

height: 53px ; 
width: 95px ;

 position: absolute;
    bottom: 35px;
    left: 47%;
  display: inline-block;

}

#header{
  height: 500px;
  width: 1000px;
}

#down{
 position: absolute;
  bottom: 10px;
  width: 100%;
}

#right {
  width: 30%;
  height: 120px;
  
  font-size: 27px;
  
  position: absolute;
    bottom: 5px;
    right: 10%;
  display: inline-block;
}


/* Media Queries */

@media screen and (max-width: 1024px) {


#left {
  font-size: 20px;
  height: 100px;
}

#or{
height: 45px ; 
width: 85px ;
}

#header{
  height: 400px;
  width: 800px;
}

#right {
  font-size: 20px;
  height: 100px;

}

}

@media screen and (max-width: 840px) {

#left {
  font-size: 15px;
  height: 80px;
}

#or{
height: 40px ; 
width: 80px ;
}

#header{
  height: 250px;
  width: 525px;
}

#right {
  font-size: 15px;
  height: 80px;

}

}

@media screen and (max-width: 768px) {

#left {
  font-size: 15px;

  bottom: 50px;
  
}

#or{

height: 30px ; 
width: 60px ;

bottom: 110px;
}

#header{
  margin-top: 100px;
  height: 250px;
  width: 525px;
}

#right {
  font-size: 15px;

  bottom: 50px;
}

}

@media screen and (max-width: 600px) {

#left {
  font-size: 15px;
  height: 100px;

  bottom: 50px;
  
}

#or{
height: 20px ; 
width: 40px ;

bottom: 110px;

}

#header{
  margin-top: 100px;
  height: 200px;
  width: 350px;
}

#right {
  font-size: 15px;
  height: 100px;

  bottom: 50px;
}

}

/* Smartphones (landscape) ———– 
@media screen and (min-device-width: 321px){
#left {
  font-size: 14px;
  height: 100px;

  bottom: 30px;
}

#or{
height: 20px ; 
width: 40px ;

bottom: 90px;

}

#header{
  margin-top: 0px;
  height: 150px;
  width: 300px;
}

#right {
  font-size: 14px;
  height: 100px;

  bottom: 30px;
}
}
*/
/* Smartphones (portrait) ———– */
@media screen and (max-width : 320px) {

#left {
  font-size: 14px;
  height: 100px;

  bottom: 50px;
  
}

#or{
height: 20px ; 
width: 40px ;

bottom: 110px;
left: 43%

}

#header{
  margin-top: 120px;
  height: 120px;
  width: 240px;
}

#right {
  font-size: 14px;
  height: 100px;

  bottom: 50px;
}


}


