.navPrev{
	display: inline-block;
	height: 30px;
	width: 70px;
	background-color: #ECFCFD;
	

	text-align: center;
	font-family: Calisto MT;
	font-size: 15px;
	color: black;
	text-decoration: none;
	line-height: 30px;

	position: fixed;
		top: 10px;
		right: 10px;
}
.navNext{
	display: inline-block;
	height: 30px;
	width: 70px;
	background-color: #ECFCFD;
	

	text-align: center;
	font-family: Calisto MT;
	font-size: 15px;
	color: black;
	text-decoration: none;
	line-height: 30px;

	position: fixed;
		top: 50px;
		right: 10px;

}

.navHome{
	display: inline-block;
	height: 30px;
	width: 70px;
	background-color: #ECFCFD;
	

	text-align: center;
	font-family: Calisto MT;
	font-size: 15px;
	color: black;
	text-decoration: none;
	line-height: 30px;

	position: fixed;
		top: 90px;
		right: 10px;

}

.navHome:hover{
	background-color: white;
	color: #000080;
	opacity: 1;
}
.navNext:hover{
	background-color: white;
	color: #000080;
	opacity: 1;
}

.navPrev:hover{
	background-color: white;
	color: #000080;
	opacity: 1;
}
a{
	text-decoration: none;
}

